/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-size: 16px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.header .logo {
  font-size: 2rem;
  font-weight: bold;
  color: #b66d1a;
}
.header .nav-bar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.header .nav-bar ul li {
  font-size: 1.2rem;
  transition: all 0.6s;
  padding: 6px;
}
.header .nav-bar ul li:hover {
  color: #b66d1a;
}
.header .searchForm {
  border: 1px solid #b66d1a;
  border-radius: 5px;
  padding: 0;
}
.header .searchForm input {
  padding: 10px;
  outline: none;
  border: none;
  color: #fff;
  font-weight: bold;
}
.header .searchForm [type=search] {
  background-color: transparent;
  width: 200px;
}
.header .searchForm [type=submit] {
  background-color: #b66d1a;
  width: 80px;
  cursor: pointer;
}
.header .searchForm [type=submit]:hover {
  background-color: #fff;
}

/* main */
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/backgound.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}