/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-size: 16px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.header .logo {
  font-size: 2rem;
  font-weight: bold;
  color: #b66d1a;
}
.header .nav-bar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.header .nav-bar ul li {
  font-size: 1.2rem;
  transition: all 0.6s;
  padding: 6px;
}
.header .nav-bar ul li:hover {
  color: #b66d1a;
}
.header .searchForm {
  border: 1px solid #b66d1a;
  border-radius: 5px;
  padding: 0;
}
.header .searchForm input {
  padding: 10px;
  outline: none;
  border: none;
  color: #fff;
  font-weight: bold;
}
.header .searchForm [type=search] {
  background-color: transparent;
  width: 200px;
}
.header .searchForm [type=submit] {
  background-color: #b66d1a;
  width: 80px;
  cursor: pointer;
}

/* main */
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/backgound.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.main .wrapper .main-content {
  width: 50%;
}
.main .wrapper .main-content h1 {
  font-size: 2.7rem;
}
.main .wrapper .main-content h1 span {
  color: #b66d1a;
}
.main .wrapper .main-content h2 {
  font-size: 2.7rem;
}
.main .wrapper .main-content p {
  color: #f5f5f5;
  font-weight: bold;
  margin: 10px auto;
}
.main .wrapper .main-content .btn {
  padding: 10px 50px;
  background-color: #b66d1a;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}
.main .wrapper .formContainer {
  width: 250px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.788);
  border-radius: 10px;
}
.main .wrapper .formContainer h2 {
  background-color: #fff;
  color: #b66d1a;
  text-align: center;
  border: none;
  border-radius: 10px;
}
.main .wrapper .formContainer .form {
  margin: 15px auto;
}
.main .wrapper .formContainer .form input:not([type=submit]) {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #b66d1a;
  margin-bottom: 10px;
  color: #fff;
  font-weight: bold;
}
.main .wrapper .formContainer .form [type=submit] {
  padding: 10px;
  background-color: #b66d1a;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}
.main .wrapper .formContainer .formDescription {
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.main .wrapper .formContainer .formDescription p a {
  color: #b66d1a;
}
.main .wrapper .formContainer .formDescription p:nth-child(3) {
  margin-top: 20px;
  font-size: 0.8rem;
  opacity: 0.7;
}
.main .wrapper .formContainer .formDescription ul {
  list-style: none;
}
.main .wrapper .formContainer .formDescription ul li {
  margin: 10px 5px 0 0;
  padding: 6px 10px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  transition: all 1s;
}
.main .wrapper .formContainer .formDescription ul li:hover {
  background-color: #b66d1a;
}