/* Basic reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$orange : #b66d1a;
$white : #fff;
$whiteSmoke : #f5f5f5;

body {
    color: $white;
    font-size: 16px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* header */
.header {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    padding: 10px 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    

    .logo {
        font-size: 2rem;
        font-weight: bold;
        color: $orange;
    }

    .nav-bar {
        ul {
            display: flex;
            list-style: none;
            gap: 20px;

            li {
                font-size: 1.2rem;
                transition: all .6s;
                padding: 6px;

                &:hover {
                    color: $orange;
                }
            }
        }
    }

    .searchForm {
        border: 1px solid $orange;
        border-radius: 5px;
        padding: 0;

        input {
            padding: 10px;
            outline: none;
            border: none;
            color: $white;
            font-weight: bold;
        }

        [type = "search"] {
            background-color: transparent;
            width: 200px;
        }

        [type = "submit"] {
            background-color: $orange;
            width: 80px;
            cursor: pointer;            
        }
    }
}


/* main */
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/backgound.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: auto;

        .main-content {
            width: 50%;

            h1 {
                font-size: 2.7rem;

                span {
                    color: $orange;
                }
            }

            h2 {
                font-size: 2.7rem;
            }

            p {
                color: $whiteSmoke;
                font-weight: bold;
                margin: 10px auto;
            }

            .btn {
                padding: 10px 50px;
                background-color: $orange;
                font-size: 1.1rem;
                font-weight: bold;
                border: none;
                outline: none;
                border-radius: 10px;
                cursor: pointer;
            }

        }

        .formContainer {
            width: 250px;
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.788);
            border-radius: 10px;

            h2 {
                background-color: $white;
                color: $orange;
                text-align: center;
                border: none;
                border-radius: 10px;
            }

            .form {
                margin: 15px auto;

                input:not([type = "submit"]) {
                    display: block;
                    width: 100%;
                    padding: 10px;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    border-bottom: 1px solid $orange;
                    margin-bottom: 10px;
                    color: $white;
                    font-weight: bold;
                }

                [type = "submit"] {
                    padding: 10px;
                    background-color: $orange;
                    width: 100%;
                    border: none;
                    border-radius: 10px;
                    font-size: 1.1rem;
                    font-weight: bold;
                    cursor: pointer;
                }
            }

            .formDescription {
                width: 100%;
                text-align: center;
                font-weight: bold;

                p {
                    a {
                        color: $orange;
                    }
                }

                p:nth-child(3) {
                    margin-top: 20px;
                    font-size: .8rem;
                    opacity: 0.7;
                }

                ul {
                    list-style: none;

                    li {
                        margin: 10px 5px 0 0;
                        padding: 6px 10px;
                        border-radius: 50%;
                        background-color: transparent;
                        cursor: pointer;
                        display: inline-block;
                        transition: all 1s;

                        &:hover {
                            background-color: $orange;
                        }
                    }
                }
            }
        }
    }
}