/* Basic reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$orange : #b66d1a;
$white : #fff;

body {
    color: $white;
    font-size: 16px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* header */
.header {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    padding: 10px 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    

    .logo {
        font-size: 2rem;
        font-weight: bold;
        color: $orange;
    }

    .nav-bar {
        ul {
            display: flex;
            list-style: none;
            gap: 20px;

            li {
                font-size: 1.2rem;
                transition: all .6s;
                padding: 6px;

                &:hover {
                    color: $orange;
                }
            }
        }
    }

    .searchForm {
        border: 1px solid $orange;
        border-radius: 5px;
        padding: 0;

        input {
            padding: 10px;
            outline: none;
            border: none;
            color: $white;
            font-weight: bold;
        }

        [type = "search"] {
            background-color: transparent;
            width: 200px;
        }

        [type = "submit"] {
            background-color: $orange;
            width: 80px;
            cursor: pointer;

            &:hover {
                background-color: #fff;
            }
            
        }
    }
}


/* main */
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("../img/backgound.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}